@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

/* Updated for Full Black Background */
.bg-gradient-main {
  background: #000000; /* Fully black background */
}

.bg-gradient-overlay {
  background: none; /* Remove the overlay gradient */
}

.radial-gradient-overlay {
  background: none; /* Remove the radial gradient */
}
